<div class="hero-login-section">
    <div class="account-hero-flex-row">
      <h1>Sign Up</h1>
    </div>
  </div>
  <div class="login-main-section">
    <div class="login-form-wrapper">
      <div class="w-form">
  
        <form id="register_form" method="post" action="/account">
            <label for="customer_first_name" class="login-field-label">First Name</label>
            <input type="text" name="customer[first_name]" id="customer_first_name" class="text-field-form-popup w-input" required="required">
            <label for="customer_last_name" class="login-field-label">Last Name</label>
            <input type="text" name="customer[last_name]" id="customer_last_name" class="text-field-form-popup w-input" required="required">
            <label for="customer_email" class="login-field-label">Email Address</label>
            <input type="email" name="customer[email]" id="customer_email" class="text-field-form-popup w-input" required="required">
            <label for="customer_password" class="login-field-label">Password</label>
            <input type="password" name="customer[password]" id="customer_password" class="text-field-form-popup w-input" required="required">
            <label for="customer_password_confirmation" class="login-field-label">Confirm Password</label>
            <input type="password" name="customer[password_confirmation]" id="customer_password_confirmation" class="text-field-form-popup w-input" required="required">
            <div class="submit-btn-wrapper">
              <input type="submit" value="Create Account" class="submit-button w-button">
            </div>
          </form>
          
        <div class="w-form-done">
          <div>Thank you! Your submission has been received!</div>
        </div>
        <div class="w-form-fail">
          <div>Oops! Something went wrong while submitting the form.</div>
        </div>
      </div>
    </div>
  </div>