<div class="nav-full">
  <div class="annoucement-bar">
    <div class="bright-blue-text margin-b-land">Colorado Aviation Job Fair is now open! Register by Aug 15th to reserve your spot</div>
    <div class="white-text horizontal-margin">|</div>
    <div class="bright-blue-text">learn more »</div>
  </div>
  <div class="nav-wrapper">
    <div
      data-animation="default"
      data-collapse="medium"
      data-duration="400"
      data-easing="ease"
      data-easing2="ease"
      role="banner"
      class="navbar w-nav">
      <div class="nav-flex-row">
        <a
          href="/"
          data-w-id="4b8a2f5c-6c9d-689f-b501-f7a76c340d10"
          class="logo-wrapper-nav w-nav-brand"><img
            src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/pic-logo-wb.svg?v=1674766851"
            loading="lazy"
            data-w-id="4b8a2f5c-6c9d-689f-b501-f7a76c340d11"
            alt="Pilot Information Center logo"
            class="large-logo-nav"><img
            src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/PIC-nav.svg?v=1674766851"
            loading="lazy"
            data-w-id="d7529cbd-4dab-308d-45ba-010867fa2209"
            alt="Pilot Information Center Logo"
            class="small-logo-nav"></a>
        <nav role="navigation" class="nav-menu w-nav-menu">
          <div class="nav-menu-flex-wrapper">
            <div
              data-hover="true"
              data-delay="0"
              class="nav-dropdown w-dropdown">
              <div class="nav-link dropdown w-dropdown-toggle">
                <div class="icon-dropdown w-icon-dropdown-toggle"></div>
                <div>PIC Membership</div>
              </div>
              <nav class="nav-dropdown-list w-dropdown-list">
                <a
                  href="/pages/about-the-membership"
                  aria-current="page"
                  class="dropdown-link w-dropdown-link w--current">About the Membership</a>
                <a href="/pages/about-the-membership#faq" class="dropdown-link w-dropdown-link">Membership FAQs</a>
                <a href="membership-home.html" class="dropdown-link w-dropdown-link">Membership Home</a>
              </nav>
            </div>
            <a
              href="/pages/job-board"
              data-w-id="4b8a2f5c-6c9d-689f-b501-f7a76c340d14"
              class="nav-link job-board w-nav-link">Job Board</a>
            <div
              data-hover="true"
              data-delay="0"
              class="nav-dropdown w-dropdown">
              <div class="nav-link dropdown w-dropdown-toggle">
                <div class="icon-dropdown w-icon-dropdown-toggle"></div>
                <div>Career Guidance</div>
              </div>
              <nav class="nav-dropdown-list w-dropdown-list">
                <a href="/pages/career-guidance" class="dropdown-link w-dropdown-link">Career Consulting</a>
                <a href="/pages/industry-news" class="dropdown-link w-dropdown-link">Industry News</a>
                <a href="/pages/financing" class="dropdown-link w-dropdown-link">Financing</a>
                <a href="/pages/partners" class="dropdown-link w-dropdown-link">Resources</a>
                {%- comment -%}
                <a href="/pages/media-collection" class="dropdown-link w-dropdown-link">Video Library</a>
                {%- endcomment -%}
                <a href="products.html" class="dropdown-link w-dropdown-link">Products</a>
              </nav>
            </div>
            <div
              data-hover="true"
              data-delay="0"
              class="nav-dropdown w-dropdown">
              <div class="nav-link dropdown w-dropdown-toggle">
                <div class="icon-dropdown w-icon-dropdown-toggle"></div>
                <div>Job Fairs &amp; Training</div>
              </div>
              <nav class="nav-dropdown-list w-dropdown-list">
                <a href="/pages/job-fairs-and-events" class="dropdown-link w-dropdown-link">Upcoming Job Fairs &amp; Events</a>
                <a href="/pages/training" class="dropdown-link w-dropdown-link">Training &amp; Education</a>
              </nav>
            </div>
          </div>
          <div class="nav-menu-flex-wrapper alt">
            {% if customer %}
              <a href="/account" class="nav-link dark-blue-text w-nav-link">My Account</a>
            {% else %}
              <a href="/account" class="nav-link dark-blue-text w-nav-link">login</a>
            {% endif %}
            <div class="nav-divider">|</div>
            {% if customer %}
              <a
                href="/account/logout"
                data-w-id="4b8a2f5c-6c9d-689f-b501-f7a76c340d3f"
                class="nav-link dark-blue-text w-nav-link">Logout</a>
            {% else %}
              <a
                href="/account/register"
                data-w-id="4b8a2f5c-6c9d-689f-b501-f7a76c340d3f"
                class="nav-link dark-blue-text w-nav-link">sign up</a>

            {% endif %}
          </div>
        </nav>
        <div class="menu-btn w-nav-button">
          <div class="w-icon-nav-menu"></div>
        </div>
      </div>
    </div>
    <div data-w-id="8d557228-e411-0eb9-ef4e-af8648738033" class="nav-white-bck"></div>
  </div>
</div>