@font-face {
  font-family: 'Brandon';
  src: url('//cdn.shopify.com/s/files/1/0714/2922/6772/t/2/assets/Brandon_reg.otf?347') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon';
  src: url('//cdn.shopify.com/s/files/1/0714/2922/6772/t/2/assets/Brandon_bld.otf?347') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon';
  src: url('//cdn.shopify.com/s/files/1/0714/2922/6772/t/2/assets/Brandon_med.otf?347') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon';
  src: url('//cdn.shopify.com/s/files/1/0714/2922/6772/t/2/assets/Brandon_light.otf?347') format('opentype');
  font-weight: 300;
  font-style: normal;
}