<div class="hero-section">
  <div class="hero-flex-row">
    <div class="hero-img-wrapper career-guidance"></div>
    <div class="hero-flex-col-right">
      <h1>Resources</h1>
    </div>
  </div>
</div>
{% section 'jc-collection-secondary-section' %}