<div class="hero-section">
  <div class="home-hero-flex-row">
    <div class="hero-home-img-wrapper"></div>
    <div class="hero-home-flex-col">
      <a
        data-w-id="976c90ed-7457-20ad-9386-06162048e871"
        href="/account/register"
        class="home-hero-link-wrapper-left top w-inline-block">
        <div class="line-wrapper margin-r"><img
            src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
            loading="lazy"
            alt=""></div>
        <div>Become A Member »</div>
      </a>
      <a href="/account/login" class="home-hero-link-wrapper-left w-inline-block">
        <div class="line-wrapper margin-r"><img
            src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
            loading="lazy"
            alt=""></div>
        <div>Log Into Your Account »</div>
      </a>
    </div>
    <div class="hero-home-flex-col-right">
      <div class="airplane-home-hero-wrapper"><img
          src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/hero-plane.svg?v=1674766851"
          loading="lazy"
          alt="Blue plane icon"></div>
      <h1>
        <span class="break-text-early">Helping
        </span>Your Career Take Flight</h1>
      <div class="home-hero-line-wrapper">
        <div class="home-hero-line top"><img
            src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
            loading="lazy"
            alt=""></div>
        <div class="home-hero-line"><img
            src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
            loading="lazy"
            alt=""></div>
      </div>
    </div>
  </div>
</div>
<div class="welcome-section">
  <div class="tight-content-wrapper">
    <h4>Welcome to the</h4>
    <h2>Pilot Information Center</h2>
    <div class="top-inner-content">
      <p>The Pilot Information Center is your one-stop-shop for everything you need to navigate your aviation career. Whether you are a veteran pilot or are just getting your wings, by subscribing to the PIC Membership, you are given access to the top resources needed to take yourself to new heights.</p>
      <div class="pic-sub-hero-wrapper"></div>
      <div class="button-wrapper">
        <a href="/pages/about-the-membership" class="main-btn w-button">About the Membership »</a>
      </div>
    </div>
  </div>
</div>
<div class="whats-included-section">
  <div class="whats-included-flex-row">
    <div class="whats-included-text-wrapper">
      <h6>WHAT&#x27;S INCLUDED</h6>
    </div>
    <div class="whats-included-grid-wrapper">
      <div class="whats-included-grid">
        <div id="w-node-_6e5d18a5-4527-5cf5-4a84-85b69aeb28d8-13904889" class="whats-included-grid-full-inner">
          <div data-w-id="9a57c3ed-9284-c3e1-bf5b-665fc7654725" class="whats-included-grid-inner">
            <div class="whats-included-icon-wrapper"><img
                src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/icon-job-board.svg?v=1674766851"
                loading="lazy"
                alt="Blue plane taking off icon"
                class="whats-included-icon-img"></div>
            <div>Job Board - One place, many jobs. See the jobs trending in the industry now</div>
          </div>
          <div style="opacity:0;display:none" class="whats-included-popup">
            <div data-w-id="a155c11c-c32e-3af2-3785-bd7b7856e8f7" class="whats-included-bckgrnd"></div>
            <div class="whats-included-content-wrapper">
              <h3 class="margin-b">Job Board</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
              <div data-w-id="cc8ddff8-af39-0bab-5be2-21fa88f5cc77" class="popup-close-btn">
                <h4 class="h4-close">x</h4>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-f3de3964-c073-fc74-fd9a-aa0ba91420d3-13904889" class="whats-included-grid-full-inner">
          <div data-w-id="e1bedbb3-a6bc-6942-a376-2720ac5de57b" class="whats-included-grid-inner">
            <div class="whats-included-icon-wrapper"><img
                src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/icon-guidance.svg?v=1674766851"
                loading="lazy"
                alt="Blue compass with a plane inside of the compass icon"
                class="whats-included-icon-img"></div>
            <div>Career Guidance - Expert guidance that will help you reach new heights</div>
          </div>
          <div style="opacity:0;display:none" class="whats-included-popup">
            <div data-w-id="78f3ac50-4c2f-072c-9c12-8ba9acadd40f" class="whats-included-bckgrnd"></div>
            <div class="whats-included-content-wrapper">
              <h3 class="margin-b">Career Guidance</h3>
              <p>Career Guidanceipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
              <div data-w-id="78f3ac50-4c2f-072c-9c12-8ba9acadd415" class="popup-close-btn">
                <h4 class="h4-close">x</h4>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-_1cd93316-0fe4-564c-bffe-de6f9006b15a-13904889" class="whats-included-grid-full-inner">
          <div data-w-id="ec8fb14c-665b-232d-c173-35020188afa1" class="whats-included-grid-inner">
            <div class="whats-included-icon-wrapper"><img
                src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/icon-training.svg?v=1674766851"
                loading="lazy"
                alt="Airplane yoke (the steering wheel of a plane) icon"
                class="whats-included-icon-img"></div>
            <div>Training Tools &amp; Resources - The career toolbox everybody needs</div>
          </div>
          <div style="opacity:0;display:none" class="whats-included-popup">
            <div data-w-id="0836c003-083e-159d-725e-2c6b08ff085d" class="whats-included-bckgrnd"></div>
            <div class="whats-included-content-wrapper">
              <h3 class="margin-b">Training Tools &amp; Resources</h3>
              <p>Training tools and resources lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
              <div data-w-id="0836c003-083e-159d-725e-2c6b08ff0863" class="popup-close-btn">
                <h4 class="h4-close">x</h4>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-_8728c16b-16db-4bef-bce3-d1b2db180d75-13904889" class="whats-included-grid-full-inner">
          <div data-w-id="2f58ecde-45f8-e56a-ecbe-b6ab59c09da9" class="whats-included-grid-inner">
            <div class="whats-included-icon-wrapper"><img
                src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/icon-storage.svg?v=1674766851"
                loading="lazy"
                alt="Blue folder with files inside icon"
                class="whats-included-icon-img"></div>
            <div>Document Storage - All your documents in one, secure location</div>
          </div>
          <div style="opacity:0;display:none" class="whats-included-popup">
            <div data-w-id="84356069-1bf8-e036-9532-91b97fdfc00a" class="whats-included-bckgrnd"></div>
            <div class="whats-included-content-wrapper">
              <h3 class="margin-b">Document Storage</h3>
              <p>Document storage lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
              <div data-w-id="84356069-1bf8-e036-9532-91b97fdfc010" class="popup-close-btn">
                <h4 class="h4-close">x</h4>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-af1ecfd9-bdbe-f419-b07e-191d5adce84b-13904889" class="whats-included-grid-full-inner">
          <div data-w-id="aa7dfa06-3cd8-d8ab-5a5d-f7a26dbcbee6" class="whats-included-grid-inner">
            <div class="whats-included-icon-wrapper"><img
                src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/icon-placeholder.svg?v=1674766851"
                loading="lazy"
                alt="Two blue plane tickets icon"
                class="whats-included-icon-img"></div>
            <div>Communities - Connect and network with other professionals</div>
          </div>
          <div style="opacity:0;display:none" class="whats-included-popup">
            <div data-w-id="fb5a1226-be29-4d99-7bd7-b72d2813fef1" class="whats-included-bckgrnd"></div>
            <div class="whats-included-content-wrapper">
              <h3 class="margin-b">Other Service</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
              <div data-w-id="fb5a1226-be29-4d99-7bd7-b72d2813fef7" class="popup-close-btn">
                <h4 class="h4-close">x</h4>
              </div>
            </div>
          </div>
        </div>
        <div id="w-node-_6ee1a460-821b-d13b-9a7f-d003aa2f5b41-13904889" class="whats-included-grid-full-inner">
          <div data-w-id="6ee1a460-821b-d13b-9a7f-d003aa2f5b42" class="whats-included-grid-inner">
            <div class="whats-included-icon-wrapper"><img
                src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/icon-placeholder.svg?v=1674766851"
                loading="lazy"
                alt="Two blue plane tickets icon"
                class="whats-included-icon-img"></div>
            <div>News - Stay up-to-date on trending industry news</div>
          </div>
          <div style="opacity:0;display:none" class="whats-included-popup">
            <div data-w-id="6ee1a460-821b-d13b-9a7f-d003aa2f5b48" class="whats-included-bckgrnd"></div>
            <div class="whats-included-content-wrapper">
              <h3 class="margin-b">Other Service</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
              <div data-w-id="6ee1a460-821b-d13b-9a7f-d003aa2f5b4e" class="popup-close-btn">
                <h4 class="h4-close">x</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="who-for-section">
  <div class="tight-content-wrapper">
    <h4>Who is PIC for?</h4>
    <h2>Pilots of All Levels</h2>
    <div class="top-inner-content">
      <p>Whether you’re an industry insider or newcomer, PIC can help you take your career to the next level.<br></p>
    </div>
  </div>
</div>
<div class="pilot-grid-section">
  <div class="w-layout-grid pilot-grid">
    <div id="w-node-_8c9d479b-517d-e177-0f38-2db0dd32e673-13904889" class="pilot-grid-inner">
      <div class="pilot-grid-content-wrapper">
        <div class="line-wrapper margin-b center-mob"><img
            src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
            loading="lazy"
            alt=""></div>
        <h3 class="white-text margin-b larger-margin">CURRENT PILOTS</h3>
        <p class="white-text">Never satisfied or looking for another challenge? PIC can help you advance your career!<br></p>
        <div class="w-layout-grid pilot-grid-link-grid">
          <div id="w-node-e43d25dc-8a0d-a094-eec4-a1bfac2bb642-13904889" class="pilot-grid-link-grid-inner">
            <a href="/pages/job-board" class="link-block w-inline-block">
              <div>Job Board »</div>
            </a>
          </div>
          <div id="w-node-e9c0517a-fdc4-95d8-afd3-5ddc34052f00-13904889" class="pilot-grid-link-grid-inner">
            <a href="/pages/job-fairs-and-events" class="link-block w-inline-block">
              <div>Upcoming Job Fairs &amp; Events »</div>
            </a>
          </div>
          <div id="w-node-_839fc63b-f175-be99-5182-ddea0ed9a472-13904889" class="pilot-grid-link-grid-inner">
            <a href="/pages/industry-news" class="link-block w-inline-block">
              <div>Industry News »</div>
            </a>
          </div>
          <div id="w-node-_29e32852-f794-2393-557a-ecd361e7075a-13904889" class="pilot-grid-link-grid-inner">
            <a href="/pages/partners" class="link-block w-inline-block">
              <div>Partners »</div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div id="w-node-a66cb852-fe7f-dd95-f6c3-dfaa6d581e44-13904889" class="pilot-grid-inner alt">
      <div class="pilot-grid-content-wrapper">
        <div class="line-wrapper margin-b center-mob"><img
            src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
            loading="lazy"
            alt=""></div>
        <h3 class="white-text margin-b larger-margin">ASPIRING PILOTS</h3>
        <p class="white-text">Thinking of a career in Aviation, but don’t know where to start?  We’ve got the resources to get you on track.<br></p>
        <div class="w-layout-grid pilot-grid-link-grid">
          <div id="w-node-a66cb852-fe7f-dd95-f6c3-dfaa6d581e4e-13904889" class="pilot-grid-link-grid-inner">
            <a href="/pages/training" class="link-block w-inline-block">
              <div>Training &amp; Education »</div>
            </a>
          </div>
          <div id="w-node-a66cb852-fe7f-dd95-f6c3-dfaa6d581e52-13904889" class="pilot-grid-link-grid-inner">
            <a href="/pages/financing" class="link-block w-inline-block">
              <div>Financing Options »</div>
            </a>
          </div>
          <div id="w-node-a66cb852-fe7f-dd95-f6c3-dfaa6d581e56-13904889" class="pilot-grid-link-grid-inner">
            <a href="/pages/career-guidance" class="link-block w-inline-block">
              <div>Career Guidance »</div>
            </a>
          </div>
          <div id="w-node-_68cb2a14-e6d8-35a3-d372-c0cb37078822-13904889" class="pilot-grid-link-grid-inner">
            <a href="products.html" class="link-block w-inline-block">
              <div>Study Guides »</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hear-from-section">
  <div class="hear-from-content-wrapper">
    <div class="hear-from-header-wrapper">
      <div class="hear-from-star-wrapper"><img
          src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/stars.svg?v=1674766851"
          loading="lazy"
          alt="Five blue stars"></div>
      <h2>Hear from PIC Members</h2>
    </div>
    <div
      data-delay="4000"
      data-animation="slide"
      class="members-slider w-slider"
      data-autoplay="false"
      data-easing="ease"
      data-hide-arrows="false"
      data-disable-swipe="false"
      data-autoplay-limit="0"
      data-nav-spacing="3"
      data-duration="500"
      data-infinite="true">
      <div class="w-slider-mask">
        <div class="w-slide">
          <div class="slide-inner-hear-from">
            <div class="slide-card">
              <div class="slide-card-img-wrapper"></div>
              <div class="content-wrapper-card">
                <div class="line-wrapper margin-b"><img
                    src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
                    loading="lazy"
                    alt=""></div>
                <p class="margin-b larger-margin-b">&quot;Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.&quot;<br></p>
                <div class="larger-text">Diana Prince</div>
                <div class="bright-blue-text">Pilot Trainee</div>
              </div>
            </div>
            <div class="slide-card right-side">
              <div class="slide-card-img-wrapper img-2"></div>
              <div class="content-wrapper-card">
                <div class="line-wrapper margin-b"><img
                    src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
                    loading="lazy"
                    alt=""></div>
                <p class="margin-b larger-margin-b">&quot;Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.&quot;<br></p>
                <div class="larger-text">Hayley York</div>
                <div class="bright-blue-text">Pilot Trainee</div>
              </div>
            </div>
          </div>
        </div>
        <div class="w-slide">
          <div class="slide-inner-hear-from">
            <div class="slide-card">
              <div class="slide-card-img-wrapper img-3"></div>
              <div class="content-wrapper-card">
                <div class="line-wrapper margin-b"><img
                    src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
                    loading="lazy"
                    alt=""></div>
                <p class="margin-b larger-margin-b">&quot;Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.&quot;<br></p>
                <div class="larger-text">Marcia Thurmond</div>
                <div class="bright-blue-text">Pilot Trainee</div>
              </div>
            </div>
            <div class="slide-card right-side">
              <div class="slide-card-img-wrapper img-4"></div>
              <div class="content-wrapper-card">
                <div class="line-wrapper margin-b"><img
                    src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
                    loading="lazy"
                    alt=""></div>
                <p class="margin-b larger-margin-b">&quot;Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat.&quot;<br></p>
                <div class="larger-text">Al O&#x27;Leary</div>
                <div class="bright-blue-text">Pilot Trainee</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="hide-arrow w-slider-arrow-left">
        <div class="w-icon-slider-left"></div>
      </div>
      <div class="hide-arrow w-slider-arrow-right">
        <div class="w-icon-slider-right"></div>
      </div>
      <div class="w-slider-nav w-slider-nav-invert w-round"></div>
    </div>
  </div>
</div>
<div class="free-trial-section">
  <div class="free-trial-background-img"></div>
  <div class="free-trial-flex-row">
    <div class="trial-flex-col">
      <h2 class="white-text margin-b larger-margin">SIGN UP FOR A 7-DAY FREE TRIAL</h2>
      <p class="white-text">Unsure if PIC is for you? Sign up for a free trial and make your decision at a later date!<br></p>
      <a
        data-w-id="415f0c8f-8af5-1723-a0f2-0746776a9008"
        href="#"
        class="hat-link center-tab w-inline-block">
        <div class="line-wrapper"><img
            src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
            loading="lazy"
            alt=""></div>
        <div>Start Your Free Trial Today »</div>
      </a>
    </div>
    <div class="get-access-to-flex-col">
      <div class="get-access-inner">
        <h6 class="white-text margin-b larger-margin margin-l">GET ACCESS TO:</h6>
        <div class="access-flex-row">
          <div class="check-wrapper"><img
              src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/icon-check.svg?v=1674766851"
              loading="lazy"
              alt="Blue check icon"
              class="checkbox-img"></div>
          <div>
            <div class="white-text larger-text">General Career Resources</div>
            <p class="white-text smaller-p">Vetted resources, trusted partners, expert guidance, and more. Your one-stop-shop for career development.</p>
          </div>
        </div>
        <div class="access-flex-row">
          <div class="check-wrapper"><img
              src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/icon-check.svg?v=1674766851"
              loading="lazy"
              alt="Blue check icon"
              class="checkbox-img"></div>
          <div>
            <div class="white-text larger-text">Upcoming Job Fairs &amp; Events</div>
            <p class="white-text smaller-p">Top industry events and job fairs you NEED to be aware of.</p>
          </div>
        </div>
        <div class="access-flex-row">
          <div class="check-wrapper"><img
              src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/icon-check.svg?v=1674766851"
              loading="lazy"
              alt="Blue check icon"
              class="checkbox-img"></div>
          <div>
            <div class="white-text larger-text">Simplified Storage</div>
            <p class="white-text smaller-p">All your crucial docs organized in one place. Always secure.  Always at your fingertips.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sign-up-section">
  <div class="sign-up-content-wrapper">
    <h5>SIGN UP TO GET VALUABLE RESOURCES FROM PIC</h5>
    <div class="form-block-sign-up w-form">
      <form
        id="email-form"
        name="email-form"
        data-name="Email Form"
        method="get"
        class="form-flex-row-sign-up"><input
          type="email"
          class="text-field-sign-up w-input"
          maxlength="256"
          name="email-2"
          data-name="Email 2"
          placeholder="Your Email Address"
          id="email-2"
          required=""><input
          type="submit"
          value="Get Started »"
          data-wait="Please wait..."
          class="submit-button w-button"></form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>