<div class="hero-section">
  <div class="hero-flex-row">
    <div class="hero-img-wrapper vetted-partners"></div>
    <div class="hero-flex-col-right">
      <div class="airplane-home-hero-wrapper"></div>
      <h1>Vetted
        <span class="split-line-text">Partners</span>
      </h1>
    </div>
  </div>
</div>
<div class="welcome-section">
  <div class="tight-content-wrapper">
    <h2>Meet Our Vetted Partners</h2>
    <div class="top-inner-content">
      <p>Wish you knew what those who have been in the industry for decades know? Now you can. Our trusted partners provide amazing resources for every step of your career.</p>
    </div>
  </div>
</div>

{%section 'sk-partner-blocks'%}

<div class="sign-up-section">
  <div class="sign-up-content-wrapper">
    <h5>SIGN UP TO GET VALUABLE RESOURCES FROM PIC</h5>
    <div class="form-block-sign-up w-form">
      <form
        id="email-form"
        name="email-form"
        data-name="Email Form"
        method="get"
        class="form-flex-row-sign-up"><input
          type="email"
          class="text-field-sign-up w-input"
          maxlength="256"
          name="email-2"
          data-name="Email 2"
          placeholder="Your Email Address"
          id="email-2"
          required=""><input
          type="submit"
          value="Get Started »"
          data-wait="Please wait..."
          class="submit-button w-button"></form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>