<div class="hero-section">
  <div class="hero-flex-row">
    <div class="hero-img-wrapper job-board"></div>
    <div class="hero-flex-col-right">
      <div class="airplane-home-hero-wrapper"></div>
      <h1>Job<span class="split-line-text">Board</span>
      </h1>
    </div>
  </div>
</div>
<div class="news-section">
  <div class="header-wrapper">
    <div class="light-text blue-larger-text larger-spacing">I&#x27;m looking for:</div>
  </div>
  <div
    data-current="Tab 1"
    data-easing="ease"
    data-duration-in="300"
    data-duration-out="100"
    class="job-tabs w-tabs">
    <div class="tabs-menu w-tab-menu">
      <a data-w-tab="Tab 1" class="tab-link-jobs w-inline-block w-tab-link w--current">
        <div>Airline Jobs</div>
      </a>
      <a data-w-tab="Tab 2" class="tab-link-jobs w-inline-block w-tab-link">
        <div>Other Aviation Jobs</div>
      </a>
    </div>
    <div class="w-tab-content">
      <div data-w-tab="Tab 1" class="tab-pane-jobs w-tab-pane w--tab-active">
        <div class="header-wrapper">
          <h5>Filter Airline Positions By:</h5>
        </div>
        <div class="job-filter-flex-row">
          <div
            data-delay="0"
            data-hover="false"
            class="filter-dropdown w-dropdown">
            <div class="job-filter-toggle job-board w-dropdown-toggle">
              <div class="w-icon-dropdown-toggle"></div>
              <div>Airline<span class="bright-blue-text">*</span>
              </div>
            </div>
            <nav class="dropdown-filter-list w-dropdown-list">
              <a href="#" class="dropdown-filter-link w-dropdown-link">United</a>
              <a href="#" class="dropdown-filter-link w-dropdown-link">Southwest</a>
              <a href="#" class="dropdown-filter-link w-dropdown-link">Alaska</a>
              <a href="#" class="dropdown-filter-link w-dropdown-link">American</a>
              <a href="#" class="dropdown-filter-link w-dropdown-link">Delta</a>
              <a href="#" class="dropdown-filter-link w-dropdown-link">Spirit</a>
              <a href="#" class="dropdown-filter-link w-dropdown-link">Frontier</a>
              <a href="#" class="dropdown-filter-link w-dropdown-link">UPS</a>
              <a href="#" class="dropdown-filter-link w-dropdown-link">FedEx</a>
              <a href="#" class="dropdown-filter-link w-dropdown-link">JetBlue</a>
              <a href="#" class="dropdown-filter-link w-dropdown-link">Hawaiian</a>
              <a href="#" class="dropdown-filter-link w-dropdown-link">Breeze</a>
              <a href="#" class="dropdown-filter-link w-dropdown-link">Kalitta</a>
              <a href="#" class="dropdown-filter-link w-dropdown-link">Atlas</a>
              <a href="#" class="dropdown-filter-link w-dropdown-link">Allegiant</a>
            </nav>
          </div>
          <div
            data-delay="0"
            data-hover="false"
            class="filter-dropdown w-dropdown">
            <div class="job-filter-toggle job-board w-dropdown-toggle">
              <div class="w-icon-dropdown-toggle"></div>
              <div>Type<span class="bright-blue-text">*</span>
              </div>
            </div>
            <nav class="dropdown-filter-list w-dropdown-list">
              <a href="#" class="dropdown-filter-link w-dropdown-link">Legacy</a>
              <a href="#" class="dropdown-filter-link w-dropdown-link">Major</a>
              <a href="#" class="dropdown-filter-link w-dropdown-link">Corporate</a>
              <a href="#" class="dropdown-filter-link w-dropdown-link">Regional</a>
              <a href="#" class="dropdown-filter-link w-dropdown-link">Cargo</a>
            </nav>
          </div>
        </div>
        <div class="job-all-wrapper">
          <div class="job-individ-wrapper">
            <div class="job-logo-wrapper"><img
                src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/united.png?v=1674766851"
                loading="lazy"
                alt="United Airlines logo"
                class="job-logo-img"></div>
            <div class="job-information-wrapper">
              <div class="job-information-flex-row">
                <div id="w-node-fee12231-1d8e-7e16-ed0a-31cb6571dec9-c6db0ecf" class="job-information-flex-col">
                  <div>Airport Pilot Job</div>
                  <div class="light-text">First Officer - Regional</div>
                  <div class="second-info-job-wrapper">
                    <div>New York, NY, USA</div>
                  </div>
                </div>
                <div class="job-information-flex-col">
                  <div>License Type:</div>
                  <div class="light-text">Airline Transport Pilot</div>
                  <div class="second-info-job-wrapper">
                    <div>Ratings:</div>
                    <div class="light-text">Airplane Multi Engine Land</div>
                  </div>
                  <div class="second-info-job-wrapper flex">
                    <div>Total Time Required:
                    </div>
                    <div class="light-text">1500</div>
                  </div>
                  <div class="second-info-job-wrapper flex">
                    <div>Multi Time Required:
                    </div>
                    <div class="light-text">25</div>
                  </div>
                </div>
                <div class="job-information-flex-col">
                  <div>Job Type:</div>
                  <div class="light-text">Full Time</div>
                  <div class="second-info-job-wrapper">
                    <div>Compensation:</div>
                    <div class="light-text">$65,000 Annual Salary</div>
                  </div>
                  <div class="second-info-job-wrapper">
                    <div>Benefits:</div>
                    <div class="light-text">All</div>
                  </div>
                </div>
                <div id="w-node-_034f0cc2-0ae6-1ba1-3c42-f1e7c4e2f555-c6db0ecf" class="job-information-flex-col">
                  <div class="bold-text red-text right-align">CLOSED</div>
                </div>
              </div>
            </div>
          </div>
          <div class="job-individ-wrapper">
            <div class="job-logo-wrapper"><img
                src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/delta.png?v=1674766851"
                loading="lazy"
                alt="Delta Airlines logo"
                class="job-logo-img"></div>
            <div class="job-information-wrapper">
              <div class="job-information-flex-row">
                <div id="w-node-_20125f85-fbf4-7769-d920-8b600e962cb8-c6db0ecf" class="job-information-flex-col">
                  <div>Airport Pilot Job</div>
                  <div class="light-text">First Officer - Regional</div>
                  <div class="second-info-job-wrapper">
                    <div>New York, NY, USA</div>
                  </div>
                </div>
                <div class="job-information-flex-col">
                  <div>License Type:</div>
                  <div class="light-text">Airline Transport Pilot</div>
                  <div class="second-info-job-wrapper">
                    <div>Ratings:</div>
                    <div class="light-text">Airplane Multi Engine Land</div>
                  </div>
                  <div class="second-info-job-wrapper flex">
                    <div>Total Time Required:
                    </div>
                    <div class="light-text">1500</div>
                  </div>
                  <div class="second-info-job-wrapper flex">
                    <div>Multi Time Required:
                    </div>
                    <div class="light-text">25</div>
                  </div>
                </div>
                <div class="job-information-flex-col">
                  <div>Job Type:</div>
                  <div class="light-text">Full Time</div>
                  <div class="second-info-job-wrapper">
                    <div>Compensation:</div>
                    <div class="light-text">$65,000 Annual Salary</div>
                  </div>
                  <div class="second-info-job-wrapper">
                    <div>Benefits:</div>
                    <div class="light-text">All</div>
                  </div>
                </div>
                <div id="w-node-_20125f85-fbf4-7769-d920-8b600e962ce3-c6db0ecf" class="job-information-flex-col">
                  <div class="bold-text red-text right-align">CLOSED</div>
                </div>
              </div>
            </div>
          </div>
          <div class="job-individ-wrapper">
            <div class="job-logo-wrapper"><img
                loading="lazy"
                src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/ups.png?v=1674766852"
                alt="UPS Logo"
                class="job-logo-img"></div>
            <div class="job-information-wrapper">
              <div class="job-information-flex-row">
                <div id="w-node-_0e068e02-f92a-c5b7-e346-9b5c2f0f6e4f-c6db0ecf" class="job-information-flex-col">
                  <div>Airport Pilot Job</div>
                  <div class="light-text">First Officer - Regional</div>
                  <div class="second-info-job-wrapper">
                    <div>New York, NY, USA</div>
                  </div>
                </div>
                <div class="job-information-flex-col">
                  <div>License Type:</div>
                  <div class="light-text">Airline Transport Pilot</div>
                  <div class="second-info-job-wrapper">
                    <div>Ratings:</div>
                    <div class="light-text">Airplane Multi Engine Land</div>
                  </div>
                  <div class="second-info-job-wrapper flex">
                    <div>Total Time Required:
                    </div>
                    <div class="light-text">1500</div>
                  </div>
                  <div class="second-info-job-wrapper flex">
                    <div>Multi Time Required:
                    </div>
                    <div class="light-text">25</div>
                  </div>
                </div>
                <div class="job-information-flex-col">
                  <div>Job Type:</div>
                  <div class="light-text">Full Time</div>
                  <div class="second-info-job-wrapper">
                    <div>Compensation:</div>
                    <div class="light-text">$65,000 Annual Salary</div>
                  </div>
                  <div class="second-info-job-wrapper">
                    <div>Benefits:</div>
                    <div class="light-text">All</div>
                  </div>
                </div>
                <div id="w-node-_0e068e02-f92a-c5b7-e346-9b5c2f0f6e7a-c6db0ecf" class="job-information-flex-col">
                  <div class="bold-text green-text right-align">OPEN</div>
                </div>
              </div>
            </div>
          </div>
          <div class="job-individ-wrapper">
            <div class="job-logo-wrapper"><img
                src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/united.png?v=1674766851"
                loading="lazy"
                alt="United Airlines logo"
                class="job-logo-img"></div>
            <div class="job-information-wrapper">
              <div class="job-information-flex-row">
                <div id="w-node-b676b785-db11-486d-4cee-118ab3a4f806-c6db0ecf" class="job-information-flex-col">
                  <div>Airport Pilot Job</div>
                  <div class="light-text">First Officer - Regional</div>
                  <div class="second-info-job-wrapper">
                    <div>New York, NY, USA</div>
                  </div>
                </div>
                <div class="job-information-flex-col">
                  <div>License Type:</div>
                  <div class="light-text">Airline Transport Pilot</div>
                  <div class="second-info-job-wrapper">
                    <div>Ratings:</div>
                    <div class="light-text">Airplane Multi Engine Land</div>
                  </div>
                  <div class="second-info-job-wrapper flex">
                    <div>Total Time Required:
                    </div>
                    <div class="light-text">1500</div>
                  </div>
                  <div class="second-info-job-wrapper flex">
                    <div>Multi Time Required:
                    </div>
                    <div class="light-text">25</div>
                  </div>
                </div>
                <div class="job-information-flex-col">
                  <div>Job Type:</div>
                  <div class="light-text">Full Time</div>
                  <div class="second-info-job-wrapper">
                    <div>Compensation:</div>
                    <div class="light-text">$65,000 Annual Salary</div>
                  </div>
                  <div class="second-info-job-wrapper">
                    <div>Benefits:</div>
                    <div class="light-text">All</div>
                  </div>
                </div>
                <div id="w-node-b676b785-db11-486d-4cee-118ab3a4f831-c6db0ecf" class="job-information-flex-col">
                  <div class="bold-text red-text right-align">CLOSED</div>
                </div>
              </div>
            </div>
          </div>
          <div class="job-individ-wrapper">
            <div class="job-logo-wrapper"><img
                src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/delta.png?v=1674766851"
                loading="lazy"
                alt="Delta Airlines logo"
                class="job-logo-img"></div>
            <div class="job-information-wrapper">
              <div class="job-information-flex-row">
                <div id="w-node-efd412e0-3620-3155-5786-f769f1dfb7fe-c6db0ecf" class="job-information-flex-col">
                  <div>Airport Pilot Job</div>
                  <div class="light-text">First Officer - Regional</div>
                  <div class="second-info-job-wrapper">
                    <div>New York, NY, USA</div>
                  </div>
                </div>
                <div class="job-information-flex-col">
                  <div>License Type:</div>
                  <div class="light-text">Airline Transport Pilot</div>
                  <div class="second-info-job-wrapper">
                    <div>Ratings:</div>
                    <div class="light-text">Airplane Multi Engine Land</div>
                  </div>
                  <div class="second-info-job-wrapper flex">
                    <div>Total Time Required:
                    </div>
                    <div class="light-text">1500</div>
                  </div>
                  <div class="second-info-job-wrapper flex">
                    <div>Multi Time Required:
                    </div>
                    <div class="light-text">25</div>
                  </div>
                </div>
                <div class="job-information-flex-col">
                  <div>Job Type:</div>
                  <div class="light-text">Full Time</div>
                  <div class="second-info-job-wrapper">
                    <div>Compensation:</div>
                    <div class="light-text">$65,000 Annual Salary</div>
                  </div>
                  <div class="second-info-job-wrapper">
                    <div>Benefits:</div>
                    <div class="light-text">All</div>
                  </div>
                </div>
                <div id="w-node-efd412e0-3620-3155-5786-f769f1dfb829-c6db0ecf" class="job-information-flex-col">
                  <div class="bold-text red-text right-align">CLOSED</div>
                </div>
              </div>
            </div>
          </div>
          <div class="job-individ-wrapper">
            <div class="job-logo-wrapper"><img
                loading="lazy"
                src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/ups.png?v=1674766852"
                alt="UPS Logo"
                class="job-logo-img"></div>
            <div class="job-information-wrapper">
              <div class="job-information-flex-row">
                <div id="w-node-_1874949f-426a-448f-f651-e77a40d3afd7-c6db0ecf" class="job-information-flex-col">
                  <div>Airport Pilot Job</div>
                  <div class="light-text">First Officer - Regional</div>
                  <div class="second-info-job-wrapper">
                    <div>New York, NY, USA</div>
                  </div>
                </div>
                <div class="job-information-flex-col">
                  <div>License Type:</div>
                  <div class="light-text">Airline Transport Pilot</div>
                  <div class="second-info-job-wrapper">
                    <div>Ratings:</div>
                    <div class="light-text">Airplane Multi Engine Land</div>
                  </div>
                  <div class="second-info-job-wrapper flex">
                    <div>Total Time Required:
                    </div>
                    <div class="light-text">1500</div>
                  </div>
                  <div class="second-info-job-wrapper flex">
                    <div>Multi Time Required:
                    </div>
                    <div class="light-text">25</div>
                  </div>
                </div>
                <div class="job-information-flex-col">
                  <div>Job Type:</div>
                  <div class="light-text">Full Time</div>
                  <div class="second-info-job-wrapper">
                    <div>Compensation:</div>
                    <div class="light-text">$65,000 Annual Salary</div>
                  </div>
                  <div class="second-info-job-wrapper">
                    <div>Benefits:</div>
                    <div class="light-text">All</div>
                  </div>
                </div>
                <div id="w-node-_1874949f-426a-448f-f651-e77a40d3b002-c6db0ecf" class="job-information-flex-col">
                  <div class="bold-text green-text right-align">OPEN</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div data-w-tab="Tab 2" class="tab-pane-jobs w-tab-pane">
        <div class="other-job-img-wrapper"><img
            src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/rss-feed.jpg?v=1674766851"
            loading="lazy"
            alt="RSS job feed placeholder image"></div>
      </div>
    </div>
  </div>
</div>
<div class="sign-up-section">
  <div class="sign-up-content-wrapper">
    <h5>SIGN UP TO GET VALUABLE RESOURCES FROM PIC</h5>
    <div class="form-block-sign-up w-form">
      <form
        id="email-form"
        name="email-form"
        data-name="Email Form"
        method="get"
        class="form-flex-row-sign-up"><input
          type="email"
          class="text-field-sign-up w-input"
          maxlength="256"
          name="email-2"
          data-name="Email 2"
          placeholder="Your Email Address"
          id="email-2"
          required=""><input
          type="submit"
          value="Get Started »"
          data-wait="Please wait..."
          class="submit-button w-button"></form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>