<div class="hero-section">
  <div class="hero-flex-row">
    <div class="hero-img-wrapper job-fairs"></div>
    <div class="hero-flex-col-right">
      <div class="airplane-home-hero-wrapper"></div>
      <h1>Job Fairs<span class="split-line-text">&amp; Events</span>
      </h1>
    </div>
  </div>
</div>
<div class="news-section">
  <div class="header-wrapper">
    <h5>Upcoming Job Fairs &amp; Events</h5>
  </div>
  <div class="job-fair-flex-row-filters">
    <div
      data-hover="false"
      data-delay="0"
      class="filter-dropdown w-dropdown">
      <div class="job-filter-toggle w-dropdown-toggle">
        <div class="w-icon-dropdown-toggle"></div>
        <div>Airline<span class="bright-blue-text">*</span>
        </div>
      </div>
      <nav class="dropdown-filter-list w-dropdown-list">
        <a href="#" class="w-dropdown-link">Airline 1</a>
        <a href="#" class="w-dropdown-link">Airline 2</a>
        <a href="#" class="w-dropdown-link">Airline 3</a>
      </nav>
    </div>
    <div
      data-hover="false"
      data-delay="0"
      class="filter-dropdown w-dropdown">
      <div class="job-filter-toggle w-dropdown-toggle">
        <div class="w-icon-dropdown-toggle"></div>
        <div>Organization<span class="bright-blue-text">*</span>
        </div>
      </div>
      <nav class="dropdown-filter-list w-dropdown-list">
        <a href="#" class="w-dropdown-link">Organization 1</a>
        <a href="#" class="w-dropdown-link">Organization 2</a>
        <a href="#" class="w-dropdown-link">Organization 3</a>
      </nav>
    </div>
    <div
      data-hover="false"
      data-delay="0"
      class="filter-dropdown w-dropdown">
      <div class="job-filter-toggle w-dropdown-toggle">
        <div class="w-icon-dropdown-toggle"></div>
        <div>Location<span class="bright-blue-text">*</span>
        </div>
      </div>
      <nav class="dropdown-filter-list w-dropdown-list">
        <a href="#" class="w-dropdown-link">Location 1</a>
        <a href="#" class="w-dropdown-link">Location 2</a>
        <a href="#" class="w-dropdown-link">Location 3</a>
      </nav>
    </div>
    <div
      data-hover="false"
      data-delay="0"
      class="filter-dropdown w-dropdown">
      <div class="job-filter-toggle w-dropdown-toggle">
        <div class="w-icon-dropdown-toggle"></div>
        <div>Month<span class="bright-blue-text">*</span>
        </div>
      </div>
      <nav class="dropdown-filter-list w-dropdown-list">
        <a href="#" class="w-dropdown-link">January</a>
        <a href="#" class="w-dropdown-link">February</a>
        <a href="#" class="w-dropdown-link">March</a>
      </nav>
    </div>
  </div>
  <div class="job-all-wrapper">
    <div class="job-fair-individ-wrapper">
      <div class="job-logo-wrapper"><img
          src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/united.png?v=1674766851"
          loading="lazy"
          alt="United Airlines logo"
          class="job-logo-img"></div>
      <div class="job-information-wrapper">
        <div class="job-fair-flex-row">
          <div class="job-fair-flex-col title">
            <div class="larger-text job-fair">United Airlines Job Fair</div>
          </div>
          <div class="job-fair-flex-col main">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            <a href="#" class="job-fair-link w-inline-block">
              <p>get tickets »</p>
            </a>
          </div>
          <div class="job-fair-flex-col">
            <div>Date:</div>
            <div class="light-text">Aug 30, 2022</div>
            <div class="second-info-job-wrapper">
              <div>Time:</div>
              <div class="light-text">11am – 2pm</div>
            </div>
            <div class="second-info-job-wrapper">
              <div>Location:</div>
              <div class="light-text">VR ARCADE USA <br>1624 Market St #110, Denver, CO</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="job-fair-individ-wrapper">
      <div class="job-logo-wrapper"><img
          loading="lazy"
          src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/ups.png?v=1674766852"
          alt="UPS Logo"
          class="job-logo-img"></div>
      <div class="job-information-wrapper">
        <div class="job-fair-flex-row">
          <div class="job-fair-flex-col title">
            <div class="larger-text job-fair">UPS Job Fair</div>
          </div>
          <div class="job-fair-flex-col main">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            <a href="#" class="job-fair-link w-inline-block">
              <p>get tickets »</p>
            </a>
          </div>
          <div class="job-fair-flex-col">
            <div>Date:</div>
            <div class="light-text">Aug 30, 2022</div>
            <div class="second-info-job-wrapper">
              <div>Time:</div>
              <div class="light-text">11am – 2pm</div>
            </div>
            <div class="second-info-job-wrapper">
              <div>Location:</div>
              <div class="light-text">https://ups.com/jobfair /virtual/092322</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="job-fair-individ-wrapper">
      <div class="job-logo-wrapper"><img
          src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/delta.png?v=1674766851"
          loading="lazy"
          alt="Delta Airlines logo"
          class="job-logo-img"></div>
      <div class="job-information-wrapper">
        <div class="job-fair-flex-row">
          <div class="job-fair-flex-col title">
            <div class="larger-text job-fair">Delta Job Fair</div>
          </div>
          <div class="job-fair-flex-col main">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            <a href="#" class="job-fair-link w-inline-block">
              <p>get tickets »</p>
            </a>
          </div>
          <div class="job-fair-flex-col">
            <div>Date:</div>
            <div class="light-text">Aug 30, 2022</div>
            <div class="second-info-job-wrapper">
              <div>Time:</div>
              <div class="light-text">11am – 2pm</div>
            </div>
            <div class="second-info-job-wrapper">
              <div>Location:</div>
              <div class="light-text">VR ARCADE USA <br>1624 Market St #110, Denver, CO</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="job-fair-individ-wrapper">
      <div class="job-logo-wrapper"><img
          src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/united.png?v=1674766851"
          loading="lazy"
          alt="United Airlines logo"
          class="job-logo-img"></div>
      <div class="job-information-wrapper">
        <div class="job-fair-flex-row">
          <div class="job-fair-flex-col title">
            <div class="larger-text job-fair">United Airlines Job Fair</div>
          </div>
          <div class="job-fair-flex-col main">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            <a href="#" class="job-fair-link w-inline-block">
              <p>get tickets »</p>
            </a>
          </div>
          <div class="job-fair-flex-col">
            <div>Date:</div>
            <div class="light-text">Aug 30, 2022</div>
            <div class="second-info-job-wrapper">
              <div>Time:</div>
              <div class="light-text">11am – 2pm</div>
            </div>
            <div class="second-info-job-wrapper">
              <div>Location:</div>
              <div class="light-text">VR ARCADE USA <br>1624 Market St #110, Denver, CO</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="job-fair-individ-wrapper">
      <div class="job-logo-wrapper"><img
          loading="lazy"
          src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/ups.png?v=1674766852"
          alt="UPS Logo"
          class="job-logo-img"></div>
      <div class="job-information-wrapper">
        <div class="job-fair-flex-row">
          <div class="job-fair-flex-col title">
            <div class="larger-text job-fair">UPS Job Fair</div>
          </div>
          <div class="job-fair-flex-col main">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            <a href="#" class="job-fair-link w-inline-block">
              <p>get tickets »</p>
            </a>
          </div>
          <div class="job-fair-flex-col">
            <div>Date:</div>
            <div class="light-text">Aug 30, 2022</div>
            <div class="second-info-job-wrapper">
              <div>Time:</div>
              <div class="light-text">11am – 2pm</div>
            </div>
            <div class="second-info-job-wrapper">
              <div>Location:</div>
              <div class="light-text">https://ups.com/jobfair /virtual/092322</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="job-fair-individ-wrapper">
      <div class="job-logo-wrapper"><img
          src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/delta.png?v=1674766851"
          loading="lazy"
          alt="Delta Airlines logo"
          class="job-logo-img"></div>
      <div class="job-information-wrapper">
        <div class="job-fair-flex-row">
          <div class="job-fair-flex-col title">
            <div class="larger-text job-fair">Delta Job Fair</div>
          </div>
          <div class="job-fair-flex-col main">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
            <a href="#" class="job-fair-link w-inline-block">
              <p>get tickets »</p>
            </a>
          </div>
          <div class="job-fair-flex-col">
            <div>Date:</div>
            <div class="light-text">Aug 30, 2022</div>
            <div class="second-info-job-wrapper">
              <div>Time:</div>
              <div class="light-text">11am – 2pm</div>
            </div>
            <div class="second-info-job-wrapper">
              <div>Location:</div>
              <div class="light-text">VR ARCADE USA <br>1624 Market St #110, Denver, CO</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sign-up-section">
  <div class="sign-up-content-wrapper">
    <h5>SIGN UP TO GET VALUABLE RESOURCES FROM PIC</h5>
    <div class="form-block-sign-up w-form">
      <form
        id="email-form"
        name="email-form"
        data-name="Email Form"
        method="get"
        class="form-flex-row-sign-up"><input
          type="email"
          class="text-field-sign-up w-input"
          maxlength="256"
          name="email-2"
          data-name="Email 2"
          placeholder="Your Email Address"
          id="email-2"
          required=""><input
          type="submit"
          value="Get Started »"
          data-wait="Please wait..."
          class="submit-button w-button"></form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>