<div class="hero-section">
  <div class="hero-flex-row">
    <div class="hero-img-wrapper career-guidance"></div>
    <div class="hero-flex-col-right">
      <h1>Career Guidance</h1>
    </div>
  </div>
</div>
<div class="powered-by-section">
  <div class="powered-by-flex-row">
    <div class="powered-by-flex-col">
      <div class="powered-by-flex-col-img-wrapper"><img
          src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/ribbon-powered-by.svg?v=1674766851"
          loading="lazy"
          alt=""
          class="powered-by-flex-col-img"></div>
      <div>Powered by:</div>
    </div>
    <div class="powered-by-logo-wrapper"><img
        src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/cage-logo-b.png?v=1674766851"
        loading="lazy"
        alt="Cage Marshall logo"></div>
  </div>
</div>
{% section 'career-guidance-recent-resources' %}
{% section 'career-guidance-study-guide' %}
<div class="sign-up-section">
  <div class="sign-up-content-wrapper">
    <h5>SIGN UP TO GET VALUABLE RESOURCES FROM PIC</h5>
    <div class="form-block-sign-up w-form">
      <form
        id="email-form"
        name="email-form"
        data-name="Email Form"
        method="get"
        class="form-flex-row-sign-up"><input
          type="email"
          class="text-field-sign-up w-input"
          maxlength="256"
          name="email-2"
          data-name="Email 2"
          placeholder="Your Email Address"
          id="email-2"
          required=""><input
          type="submit"
          value="Get Started »"
          data-wait="Please wait..."
          class="submit-button w-button"></form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>