<div class="hero-section">
  <div class="hero-flex-row">
    <div class="hero-img-wrapper training"></div>
    <div class="hero-home-flex-col-right">
      <h1>Training<span></span>
      </h1>
    </div>
  </div>
</div>
<div class="training-top-section">
  <div class="tight-content-wrapper">
    <h4>For Aspiring Pilots</h4>
    <h2>Training &amp; Education</h2>
    <div class="top-inner-content">
      <p>The aviation industry can be complex and difficult to navigate. Our training and educational resources will help you through every step of the process, regardless of where you are in your career!</p>
    </div>
  </div>
</div>
<div class="two-col-training-section">
  <div class="w-layout-grid two-col-training-grid">
    <div id="w-node-_676ea4bd-307f-8b72-daa6-ea09dfaa8edf-43401386" class="types-financing-grid-inner">
      <div class="line-wrapper margin-b center-mob"><img
          src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
          loading="lazy"
          alt=""></div>
      <h3 class="white-text margin-b">Something Here?</h3>
      <p class="white-text margin-b">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
    </div>
    <div id="w-node-_0b592ee0-a9f8-9308-3ff7-b45163ab0ebb-43401386" class="types-financing-grid-inner">
      <div class="line-wrapper margin-b center-mob"><img
          src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
          loading="lazy"
          alt=""></div>
      <h3 class="white-text margin-b">Also Here?</h3>
      <p class="white-text margin-b">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
    </div>
  </div>
</div>
<div class="find-school-section">
  <div class="tight-content-wrapper">
    <h4>Pilot Pipeline</h4>
    <h2>Find Your Flight School</h2>
    <div class="top-inner-content">
      <p>Choosing the right flight school is critical to your success. Learn about the different training options and what you should consider before making your choice!</p>
    </div>
  </div>
  <div class="pilot-pipeline-flex-row">
    <div class="pilot-pipeline-flex-col">
      <div class="powered-by-wrapper">
        <div>Powered by:</div>
      </div>
      <div class="pilot-pipeline-logo-wrapper"><img
          src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/PilotPipeline-logo.png?v=1674766851"
          loading="lazy"
          alt="Pilot Pipeline logo"></div>
    </div>
    <div class="powered-by-map-wrapper"><img
        src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/pilot-pipeline-placeholder.jpg?v=1674766851"
        loading="lazy"
        alt="Map of the united states with many blue markers across the country"
        class="img-power-by"></div>
  </div>
</div>
<div class="sign-up-section">
  <div class="sign-up-content-wrapper">
    <h5>SIGN UP TO GET VALUABLE RESOURCES FROM PIC</h5>
    <div class="form-block-sign-up w-form">
      <form
        id="email-form"
        name="email-form"
        data-name="Email Form"
        method="get"
        class="form-flex-row-sign-up"><input
          type="email"
          class="text-field-sign-up w-input"
          maxlength="256"
          name="email-2"
          data-name="Email 2"
          placeholder="Your Email Address"
          id="email-2"
          required=""><input
          type="submit"
          value="Get Started »"
          data-wait="Please wait..."
          class="submit-button w-button"></form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>