<div class="hero-section">
  <div class="hero-flex-row">
    <div class="hero-img-wrapper"></div>
    <div class="hero-flex-col-right">
      <div class="airplane-home-hero-wrapper"></div>
      <h1>Media Collection</h1>
    </div>
  </div>
</div>
<div class="library-section">
  <div class="content-wrapper">
    <div class="filter-flex-row">
      <h6 class="h6-smaller-less-spacing">Narrow
        <span class="split-line-filter">Results:</span>
      </h6>
      <div
        data-hover="false"
        data-delay="0"
        class="filter-dropdown w-dropdown">
        <div class="filter-dropdown-toggle w-dropdown-toggle">
          <div class="w-icon-dropdown-toggle"></div>
          <div>Topic<span class="bright-blue-text">*</span>
          </div>
        </div>
        <nav class="dropdown-filter-list w-dropdown-list">
          <a href="#" class="w-dropdown-link">Topic 1</a>
          <a href="#" class="w-dropdown-link">Topic 2</a>
          <a href="#" class="w-dropdown-link">Topic 3</a>
        </nav>
      </div>
      <div
        data-hover="false"
        data-delay="0"
        class="filter-dropdown w-dropdown">
        <div class="filter-dropdown-toggle w-dropdown-toggle">
          <div class="w-icon-dropdown-toggle"></div>
          <div>Date<span class="bright-blue-text">*</span>
          </div>
        </div>
        <nav class="dropdown-filter-list w-dropdown-list">
          <a href="#" class="w-dropdown-link">Topic 1</a>
          <a href="#" class="w-dropdown-link">Topic 2</a>
          <a href="#" class="w-dropdown-link">Topic 3</a>
        </nav>
      </div>
    </div>
    <div class="header-wrapper">
      <h2>Video Library</h2>
    </div>
    <div class="w-layout-grid video-grid">
      <div id="w-node-f5897c85-9d4a-e0b2-d5d8-a45639adc8ad-bf845bb4" class="video-grid-inner">
        <div class="video-img-wrapper"><img
            src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/video1.jpg?v=1674766852"
            loading="lazy"
            alt="Image of a plane taken from the back of the plane. The plane has a tail number N8621E and Piper is on the plane right behind the window. There is a fuel pump in the background of the picture"
            class="video-img"></div>
        <div class="video-grid-text-wrapper">
          <div class="light-text">Video Series – Part I</div>
          <div>Name Of The Video</div>
        </div>
      </div>
      <div id="w-node-_73e6c2dd-80ca-b2a5-6b3a-1da8546318b8-bf845bb4" class="video-grid-inner">
        <div class="video-img-wrapper"><img
            src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/video2.jpg?v=1674766851"
            loading="lazy"
            alt="Picture of a propellor plane sitting on the tarmac facing the camera. There is a person standing on the right side of the image with a leather pilots jacket and the air traffic control tower is in the background behind the plane on the left side of the picture"
            class="video-img"></div>
        <div class="video-grid-text-wrapper">
          <div class="light-text">Video Series – Part I</div>
          <div>Name Of The Video</div>
        </div>
      </div>
      <div id="w-node-c0bdcee9-aff0-d57a-3b6d-70dc2f9555bd-bf845bb4" class="video-grid-inner">
        <div class="video-img-wrapper"><img
            src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/video3.jpg?v=1674766851"
            loading="lazy"
            alt="Picture from behind a pilot in a plane with their headset on and hands on the yoke (steering wheel of planes)"
            class="video-img"></div>
        <div class="video-grid-text-wrapper">
          <div class="light-text">Video Series – Part I</div>
          <div>Name Of The Video</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sign-up-section">
  <div class="sign-up-content-wrapper">
    <h5>SIGN UP TO GET VALUABLE RESOURCES FROM PIC</h5>
    <div class="form-block-sign-up w-form">
      <form
        id="email-form"
        name="email-form"
        data-name="Email Form"
        method="get"
        class="form-flex-row-sign-up"><input
          type="email"
          class="text-field-sign-up w-input"
          maxlength="256"
          name="email-2"
          data-name="Email 2"
          placeholder="Your Email Address"
          id="email-2"
          required=""><input
          type="submit"
          value="Get Started »"
          data-wait="Please wait..."
          class="submit-button w-button"></form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>