<div class="hero-section">
  <div class="hero-flex-row">
    <div class="hero-img-wrapper training"></div>
    <div class="hero-home-flex-col-right">
      <h1>Education <br>& Resources</h1>
    </div>
  </div>
</div>
<div class="training-top-section">
  <div class="tight-content-wrapper">
    <div class="top-inner-content">
      <p>The aviation industry can be complex and difficult to navigate. Our training and educational resources will help you through every step of the process, regardless of where you are in your career!</p>
    </div>
  </div>
</div>
{% section 'educational-institutions' %}
{% section 'books-for-pilots' %}
{% section 'exam-prep' %}
<div class="sign-up-section">
  <div class="sign-up-content-wrapper">
    <h5>SIGN UP TO GET VALUABLE RESOURCES FROM PIC</h5>
    <div class="form-block-sign-up w-form">
      <form
        id="email-form"
        name="email-form"
        data-name="Email Form"
        method="get"
        class="form-flex-row-sign-up"><input
          type="email"
          class="text-field-sign-up w-input"
          maxlength="256"
          name="email-2"
          data-name="Email 2"
          placeholder="Your Email Address"
          id="email-2"
          required=""><input
          type="submit"
          value="Get Started »"
          data-wait="Please wait..."
          class="submit-button w-button"></form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>