<div class="hero-section">
  <div class="hero-flex-row">
    <div class="hero-img-wrapper financing"></div>
    <div class="hero-home-flex-col-right">
      <h1>Financing<span></span>
      </h1>
    </div>
  </div>
</div>
<div class="financing-top-section">
  <div class="tight-content-wrapper">
    <h4>Save While You Learn</h4>
    <h2>Financing Options</h2>
    <div class="top-inner-content">
      <p class="margin-b">Financing is the largest barrier to entry in the industry. We’re here to lower that barrier. Check out scholarships, loans, grants, and more.</p>
    </div>
  </div>
</div>

{% section 'financing-tabs' %}
{% section 'financing-advice-section' %}