<div class="hero-section">
  <div class="hero-flex-row">
    <div class="hero-img-wrapper membership-home"></div>
    <div class="hero-flex-col-right">
      <h1>PIC Membership Home</h1>
    </div>
  </div>
</div>
<div class="membership-section">
  <div class="membership-p-wrapper">
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</p>
  </div>
  <div class="membership-options-wrapper">
    <div class="option-wrapper">
      <h3>Career Guidance</h3>
      <div class="option-grid">
        <div id="w-node-_927cc3ec-f707-b8cb-6e3a-3a96997b3701-056c3d2b" class="option-grid-inner">
          <h6 class="h6-smaller-less-spacing margin-b">CAREER VIDEOS</h6>
          <p class="margin-b">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat enim ad minim veniam</p>
          <div class="line-wrapper margin-b smaller center-mob"><img
              src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
              loading="lazy"
              alt=""></div>
          <a href="#" class="option-link-block w-inline-block">
            <div>View Career Videos »</div>
          </a>
        </div>
        <div id="w-node-_086c43e0-077b-5d52-e150-11bde452a7c7-056c3d2b" class="option-grid-inner">
          <h6 class="h6-smaller-less-spacing margin-b">STUDY GUIDES</h6>
          <p class="margin-b">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat enim ad minim veniam</p>
          <div class="line-wrapper margin-b smaller center-mob"><img
              src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
              loading="lazy"
              alt=""></div>
          <a href="#" class="option-link-block w-inline-block">
            <div>View Study Guides »</div>
          </a>
        </div>
        <div id="w-node-abde32ac-506d-d98d-0fd6-303213a045bf-056c3d2b" class="option-grid-inner">
          <h6 class="h6-smaller-less-spacing margin-b">CAREER ARTICLES</h6>
          <p class="margin-b">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat enim ad minim veniam</p>
          <div class="line-wrapper margin-b smaller center-mob"><img
              src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
              loading="lazy"
              alt=""></div>
          <a href="#" class="option-link-block w-inline-block">
            <div>View Career Articles »</div>
          </a>
        </div>
      </div>
    </div>
    <div class="option-wrapper">
      <h3>Education &amp; Training</h3>
      <div class="option-grid">
        <div id="w-node-_2dacc4e8-d5b6-aeb3-e2ce-60122b1765f8-056c3d2b" class="option-grid-inner">
          <h6 class="h6-smaller-less-spacing margin-b">FINANCING OPTIONS</h6>
          <p class="margin-b">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat enim ad minim veniam</p>
          <div class="line-wrapper margin-b smaller center-mob"><img
              src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
              loading="lazy"
              alt=""></div>
          <a href="#" class="option-link-block w-inline-block">
            <div>View Financing Options »</div>
          </a>
        </div>
        <div id="w-node-_2dacc4e8-d5b6-aeb3-e2ce-60122b176602-056c3d2b" class="option-grid-inner">
          <h6 class="h6-smaller-less-spacing margin-b">FLIGHT SCHOOLS</h6>
          <p class="margin-b">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat enim ad minim veniam</p>
          <div class="line-wrapper margin-b smaller center-mob"><img
              src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
              loading="lazy"
              alt=""></div>
          <a href="#" class="option-link-block w-inline-block">
            <div>View Flight Schools »</div>
          </a>
        </div>
      </div>
    </div>
    <div class="option-wrapper">
      <h3>Job Seekers</h3>
      <div class="option-grid">
        <div id="w-node-_6f3385c5-d45e-821d-0ed1-0e4bd3e42e43-056c3d2b" class="option-grid-inner">
          <h6 class="h6-smaller-less-spacing margin-b">JOB BOARD</h6>
          <p class="margin-b">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat enim ad minim veniam</p>
          <div class="line-wrapper margin-b smaller center-mob"><img
              src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
              loading="lazy"
              alt=""></div>
          <a href="#" class="option-link-block w-inline-block">
            <div>View Job Board »</div>
          </a>
        </div>
        <div id="w-node-_6f3385c5-d45e-821d-0ed1-0e4bd3e42e4d-056c3d2b" class="option-grid-inner">
          <h6 class="h6-smaller-less-spacing margin-b">JOB FAIRS &amp; EVENTS</h6>
          <p class="margin-b">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat enim ad minim veniam</p>
          <div class="line-wrapper margin-b smaller center-mob"><img
              src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
              loading="lazy"
              alt=""></div>
          <a href="#" class="option-link-block w-inline-block">
            <div>View Job Fairs &amp; Events »</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sign-up-section">
  <div class="sign-up-content-wrapper">
    <h5>SIGN UP TO GET VALUABLE RESOURCES FROM PIC</h5>
    <div class="form-block-sign-up w-form">
      <form
        id="email-form"
        name="email-form"
        data-name="Email Form"
        method="get"
        class="form-flex-row-sign-up"><input
          type="email"
          class="text-field-sign-up w-input"
          maxlength="256"
          name="email-2"
          data-name="Email 2"
          placeholder="Your Email Address"
          id="email-2"
          required=""><input
          type="submit"
          value="Get Started »"
          data-wait="Please wait..."
          class="submit-button w-button"></form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>