<div class="hero-section">
  <div class="hero-flex-row">
    <div class="hero-img-wrapper about-membership"></div>
    <div class="hero-flex-col-right">
      <h1>PIC<span class="split-line-text">Membership</span>
      </h1>
    </div>
  </div>
</div>
<div class="about-membership-section">
  <div class="tight-content-wrapper">
    <h4>About the</h4>
    <h2>PIC Membership</h2>
    <div class="top-inner-content">
      <p>The Pilot Information Center is your one-stop-shop for everything you need to navigate your aviation career. Whether you are a veteran pilot or are just getting your wings, by subscribing to the PIC Membership, you are given access to the top resources needed to take yourself to new heights.</p>
      <div class="cost-flex-row">
        <h1 class="larger-light-h1">$15</h1>
        <h1 class="bright-blue-text light-text">/</h1>
        <div class="larger-text small-margin-b">month</div>
      </div>
      <div class="button-flex-wrapper">
        <a href="#" class="hat-link blue-text smaller-margin-t w-inline-block">
          <div class="line-wrapper"><img
              src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
              loading="lazy"
              alt=""></div>
          <div>Start Your Membership Today »</div>
        </a>
        <a
          data-w-id="51aaeff5-1038-6f87-b12c-5c8132779558"
          href="#"
          class="hat-link blue-text smaller-margin-t w-inline-block">
          <div class="line-wrapper"><img
              src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
              loading="lazy"
              alt=""></div>
          <div>Try Our 7-Day Free Trial »</div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="benefits-include-section">
  <div class="header-wrapper">
    <h5 class="white-text">PIC MEMBERSHIP BENEFITS INCLUDE:</h5>
  </div>
  <div class="w-layout-grid benefit-grid">
    <div id="w-node-_63f61404-6c62-bc7a-9bcf-b66b384747ae-d06a0f7b" class="benefit-grid-inner">
      <div class="benefit-grid-icon-wrapper"><img
          src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/icon-job-board.svg?v=1674766851"
          loading="lazy"
          alt="Blue plane taking off icon"
          class="benefit-grid-icon-img"></div>
      <div class="benefit-grid-text-wrapper">
        <h3 class="white-text margin-b larger-margin">Job
          <span class="split-line-text change-mob">Board</span>
        </h3>
        <p class="white-text">One place, many jobs. See the jobs trending in the industry now</p>
        <a href="#" class="hat-link smaller-margin-t w-inline-block">
          <div class="line-wrapper"><img
              src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
              loading="lazy"
              alt=""></div>
          <div>View Job Board »</div>
        </a>
      </div>
    </div>
    <div id="w-node-_6dccce25-afdd-9b03-d770-7152c2678166-d06a0f7b" class="benefit-grid-inner">
      <div class="benefit-grid-icon-wrapper"><img
          src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/icon-guidance.svg?v=1674766851"
          loading="lazy"
          alt="Blue compass with a plane inside of the compass icon"
          class="benefit-grid-icon-img"></div>
      <div class="benefit-grid-text-wrapper">
        <h3 class="white-text margin-b larger-margin">Career
          <span class="split-line-text change-mob">Guidance</span>
        </h3>
        <p class="white-text">Expert guidance that will help you reach new heights</p>
        <a href="#" class="hat-link smaller-margin-t w-inline-block">
          <div class="line-wrapper"><img
              src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
              loading="lazy"
              alt=""></div>
          <div>Career Guidance »</div>
        </a>
      </div>
    </div>
    <div id="w-node-c6d4f9a0-995c-2ed8-2892-c112a2a304cb-d06a0f7b" class="benefit-grid-inner">
      <div class="benefit-grid-icon-wrapper"><img
          src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/icon-training.svg?v=1674766851"
          loading="lazy"
          alt="Airplane yoke (the steering wheel of a plane) icon"
          class="benefit-grid-icon-img"></div>
      <div class="benefit-grid-text-wrapper">
        <h3 class="white-text margin-b larger-margin">Training Tools
          <span class="split-line-text change-mob">&amp; Resources</span>
        </h3>
        <p class="white-text">The career toolbox everybody needs</p>
        <a href="#" class="hat-link smaller-margin-t w-inline-block">
          <div class="line-wrapper"><img
              src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
              loading="lazy"
              alt=""></div>
          <div>View Resources »</div>
        </a>
      </div>
    </div>
    <div id="w-node-_511af393-5809-33f9-9baa-c8881c73e3fb-d06a0f7b" class="benefit-grid-inner">
      <div class="benefit-grid-icon-wrapper"><img
          src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/icon-storage.svg?v=1674766851"
          loading="lazy"
          alt="Blue folder with files inside icon"
          class="benefit-grid-icon-img"></div>
      <div class="benefit-grid-text-wrapper">
        <h3 class="white-text margin-b larger-margin">Document
          <span class="split-line-text change-mob">Storage</span>
        </h3>
        <p class="white-text">All your documents in one, secure location</p>
        <a href="#" class="hat-link smaller-margin-t w-inline-block">
          <div class="line-wrapper"><img
              src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
              loading="lazy"
              alt=""></div>
          <div>Learn More »</div>
        </a>
      </div>
    </div>
    <div id="w-node-a848dde2-f8b4-08fd-2e1f-50a989f73cd5-d06a0f7b" class="benefit-grid-inner">
      <div class="benefit-grid-icon-wrapper"><img
          src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/icon-placeholder.svg?v=1674766851"
          loading="lazy"
          alt="Two blue plane tickets icon"
          class="benefit-grid-icon-img"></div>
      <div class="benefit-grid-text-wrapper">
        <h3 class="white-text margin-b larger-margin">Communities<span class="split-line-text change-mob"></span>
        </h3>
        <p class="white-text">Connect and network with other professionals</p>
        <a href="#" class="hat-link smaller-margin-t w-inline-block">
          <div class="line-wrapper"><img
              src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
              loading="lazy"
              alt=""></div>
          <div>Learn More »</div>
        </a>
      </div>
    </div>
    <div id="w-node-f3bf1f49-3a14-e3e1-652a-7e2a44b7ec33-d06a0f7b" class="benefit-grid-inner">
      <div class="benefit-grid-icon-wrapper"><img
          src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/icon-placeholder.svg?v=1674766851"
          loading="lazy"
          alt="Two blue plane tickets icon"
          class="benefit-grid-icon-img"></div>
      <div class="benefit-grid-text-wrapper">
        <h3 class="white-text margin-b larger-margin">News<span class="split-line-text change-mob"></span>
        </h3>
        <p class="white-text">Stay up-to-date on trending industry news</p>
        <a
          id="faq"
          href="#"
          class="hat-link smaller-margin-t w-inline-block">
          <div class="line-wrapper"><img
              src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
              loading="lazy"
              alt=""></div>
          <div>Learn More »</div>
        </a>
      </div>
    </div>
  </div>
</div>


{%section 'sk-faqs-membership'%}

<div class="start-trial-section">
  <div class="start-trial-background-img"></div>
  <h4>Get Started Today</h4>
  <h2>Start Your 7-day Free Trial</h2>
  <a
    data-w-id="415f0c8f-8af5-1723-a0f2-0746776a9008"
    href="#"
    class="hat-link center blue-text smaller-margin-t w-inline-block">
    <div class="line-wrapper"><img
        src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
        loading="lazy"
        alt=""></div>
    <div>Start Your Free Trial Today »</div>
  </a>
</div>
<div class="sign-up-section">
  <div class="sign-up-content-wrapper">
    <h5>SIGN UP TO GET VALUABLE RESOURCES FROM PIC</h5>
    <div class="form-block-sign-up w-form">
      <form
        id="email-form"
        name="email-form"
        data-name="Email Form"
        method="get"
        class="form-flex-row-sign-up"><input
          type="email"
          class="text-field-sign-up w-input"
          maxlength="256"
          name="email-2"
          data-name="Email 2"
          placeholder="Your Email Address"
          id="email-2"
          required=""><input
          type="submit"
          value="Get Started »"
          data-wait="Please wait..."
          class="submit-button w-button"></form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>


