{% section 'jc-product-section' %}



<div class="product-hero-section">
  <div class="product-hero-flex-row">
    <div class="product-hero-flex-col"><img
        src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/ChecklistForSuccess.jpg?v=1674766851"
        loading="lazy"
        alt="Checklist for Success Book Cover"
        class="product-hero-img"></div>
    <div class="product-hero-flex-info">
      <div class="product-cost-wrapper">
        <h4 class="white-text margin-b">Checklist For Success: A Pilot&#x27;s Guide To The Successful Airline Interview</h4>
        <h6 class="bright-blue-text h6-smaller-less-spacing less-spacing-still margin-b larger-margin-b">$31.95</h6>
        <p class="white-text larger-text margin-b">The &#x27;must read&#x27; guide for any pilot attending a professional pilot interview. Over 100,000 copies sold.</p>
        <p class="white-text larger-text">#wewrotethebook</p>
      </div>
    </div>
  </div>
  <div class="delivered-content-wrapper">
    <div class="form-block-delivered w-form">
      <h6>QUANTITY</h6>
      <div class="quantity-flex-row">
        <h6 class="margin-t">–
        </h6>
        <h5 class="larger-h5">1</h5>
        <h6>
          +</h6>
      </div>
      <h6>HOW WOULD YOU LIKE YOUR BOOK DELIVERED?</h6>
      <form
        id="wf-form-Delivery-Method"
        name="wf-form-Delivery-Method"
        data-name="Delivery Method"
        method="get"
        class="form-flex-row">
        <select
          id="field"
          name="field"
          data-name="Field"
          class="select-delivery w-select">
          <option value="">Select one...</option>
          <option value="Digital">Digital</option>
          <option value="Second">Second choice</option>
          <option value="Third">Third choice</option>
        </select><input
          type="submit"
          value="ADD TO CART »"
          data-wait="Please wait..."
          class="submit-button-delivery w-button"></form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>
<div class="about-product-section">
  <div class="tight-content-wrapper">
    <h4>About the</h4>
    <h2 class="white-text">STUDY GUIDE</h2>
    <div class="top-inner-content">
      <p class="white-text margin-b">The &#x27;must read&#x27; guide for any pilot attending a professional pilot interview. Over 100,000 copies sold.</p>
      <p class="white-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
    </div>
  </div>
</div>
<div class="similar-product-section">
  <div class="content-wrapper">
    <div class="header-wrapper">
      <h5>SIMILAR PRODUCTS</h5>
    </div>
    <div class="product-grid">
      <div id="w-node-_305b471a-0ebe-c2e2-d24b-aacb6b1068f4-496fceb0" class="product-grid-inner">
        <div class="product-img-wrapper"><img
            src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/AirlinePilotTechnicalInterviews.jpg?v=1674766851"
            loading="lazy"
            alt="Airline Pilot Technical Interviews Book Cover"
            class="product-img"></div>
        <div class="larger-text margin-b">Airline Pilot Technical Interviews: A Study Guide</div>
        <div class="line-wrapper margin-b smaller center-land"><img
            src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
            loading="lazy"
            alt=""></div>
        <div class="light-text">$29.95</div>
      </div>
      <div id="w-node-_305b471a-0ebe-c2e2-d24b-aacb6b106906-496fceb0" class="product-grid-inner">
        <div class="product-img-wrapper"><img
            src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/ReportingClear.jpg?v=1674766851"
            loading="lazy"
            alt="Reporting Clear Book Cover"
            class="product-img"></div>
        <div class="larger-text margin-b">Reporting Clear?:<br>A Pilots Interview Guide To Background Checks &amp; Presentation Of Personal History</div>
        <div class="line-wrapper margin-b smaller center-land"><img
            src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
            loading="lazy"
            alt=""></div>
        <div class="light-text">$19.95</div>
      </div>
      <div id="w-node-_305b471a-0ebe-c2e2-d24b-aacb6b106911-496fceb0" class="product-grid-inner">
        <div class="product-img-wrapper"><img
            src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/AMilitaryPilotsGuideToCivilianEmployment.jpg?v=1674766851"
            loading="lazy"
            alt="A Military Pilots Guide to Civilian Employment book cover"
            class="product-img"></div>
        <div class="larger-text margin-b">A Military Pilot&#x27;s Guide To Civilian Employment: The Checklist For A Successful Transition</div>
        <div class="line-wrapper margin-b smaller center-land"><img
            src="//cdn.shopify.com/s/files/1/0714/2922/6772/files/line-element.svg?v=1674766851"
            loading="lazy"
            alt=""></div>
        <div class="light-text">$14.99</div>
      </div>
    </div>
  </div>
</div>